.git
.gitignore
.github
.gitattributes
*.md
node_modules
npm-debug.log
.env
.env.local
.DS_Store
Gemfile
Gemfile.lock
.ruby-version
.nvmrc
.node-version
package.json
package-lock.json
.eslintrc*
.prettierrc*
jest.config.*
tsconfig.json
